@media only screen and (min-width: 376px) {
  :root{
    --CrimsonFont: 'Crimson Pro', serif;
    --LoraFont: 'Lora', serif;
    --MontserratFont: 'Montserrat', sans-serif;
    --bg-color: #181719;

  }

  * {
      padding: 0;
      margin: 0;
  }
  
  body {
      background-color: #181719;
  }
  
  a, p  {
      text-decoration: none;
      color: #fff;
  }
  
  img {
      max-width: 100%;
  }
  
  .container {
      margin: auto;
      max-width: 1286px;
  }
  
    /***** FLEX *****/

  .flex-only{
    display: flex;
  }

  .flex-align-center{
    display: flex;
    align-items: center;
  }

  .flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    /***** FLEX - ENDS *****/

  /********************! HEADER *********************/
  
  .header {
      margin-top: 50px;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center
  }

  .nav-all-menu-div{
    display: flex;
    justify-content: center;
  }

  /***** LOGO *****/

  .logo-div{
    border: 1px solid #fff;
    width: 102px;
    height: 32px;
    display: flex;
    justify-content: center ;
    align-items: center;
  }

  .logo-text{
    font-family: var(--CrimsonFont);
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;    
  }

   /***** LOGO - ENDS *****/

   
  /***** MENUS *****/

  .nav-all-menu-div div{
    margin-left: 86px;
  }

  .nav-all-menu-div div a p {
    font-family: var(--MontserratFont);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }


  .active-menu a p{
    font-weight: bold !important;
    padding-bottom: 8px;
    border-bottom: 2px solid #fff;
  }

  .menu-div a p {
    margin-top: 8px;
  }
 

    /* .header{
    margin-left:25px;
    margin-right:25px;
  } */

  /***** MENUS - ENDS *****/

  /********************! HEADER - ENDS *********************/


  /********************! BODY *********************/

  #body {
    margin-top: 177px;
    display: flex;
  }

  /***** MAIN LEFT SECTION *****/

  .main-left-div{
    width: 550px;
  }

  .main-all-text-div{
    max-width: 410px;
  }

 .main-title-div{
   margin-bottom:40px;
 }

 .main-title-text{
   font-family: var(--LoraFont);
   font-weight: 500;
   text-transform: capitalize;
   font-size: 48px;
   line-height: 61px;
   color: #fff;
 }

 .main-text{
   font-family: var(--MontserratFont);
   font-size: 24px;
   line-height: 29px;
   margin-bottom: 46px;
 }

 .read-more-a{
  font-family: var(--MontserratFont);
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.read-more-text .material-icons{
  padding-left: 14px;
}


  /***** MAIN LEFT SECTION - ENDS *****/


  /***** MAIN RIGHT SECTION *****/

  .main-right-div{
    width: 737px;
    height: 555px;
    position: relative;
  }

  .main-img-div{
    width: 737px;
    height: 555px;
    position: absolute;
  }

  .user-all-div{
    background-color: #181719;
    width: 410px;
    height: 189px;
    position: absolute;
    bottom: -94.5px;
    right: 32px;
    z-index: 1;
    
  }







}