
:root{
    --CrimsonFont: 'Crimson Pro', serif;
    --LoraFont: 'Lora', serif;
    --MontserratFont: 'Montserrat', sans-serif;
    --bg-color: #181719;
}

@media only screen and (min-width: 376px) {

  * {
      padding: 0;
      margin: 0;
  }
  
  body {
      background-color: #181719;
  }
  
  a, p  {
      text-decoration: none;
      color: #fff;
  }
  
  img {
      max-width: 100%;
  }
  
  .container {
      margin: auto;
      max-width: 1286px;
  }

  .hamburger-menu-m{
    display: none !important;
  }
  
    /***** FLEX *****/

  .flex-only{
    display: flex;
  }

  .flex-align-center{
    display: flex;
    align-items: center;
  }

  .flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    /***** FLEX - ENDS *****/

  /********************! HEADER *********************/
  
  .menu-icon-m{
    display: none;
  }

  .header {
      margin-top: 50px;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center
  }

  .nav-all-menu-div{
    display: flex;
    justify-content: center;
  }

  /***** LOGO *****/

  .logo-div{
    border: 1px solid #fff;
    width: 102px;
    height: 32px;
    display: flex;
    justify-content: center ;
    align-items: center;
  }

  .logo-text{
    font-family: var(--CrimsonFont);
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;    
  }

   /***** LOGO - ENDS *****/

   
  /***** MENUS *****/

  .nav-all-menu-div div{
    margin-left: 86px;
  }

  .nav-all-menu-div div a p {
    font-family: var(--MontserratFont);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }


  .active-menu a p{
    font-weight: bold !important;
    padding-bottom: 8px;
    border-bottom: 2px solid #fff;
  }

  .menu-div a p {
    margin-top: 8px;
  }
 

    /* .header{
    margin-left:25px;
    margin-right:25px;
  } */

  /***** MENUS - ENDS *****/

  /********************! HEADER - ENDS *********************/


  /********************! BODY *********************/

  #body {
    margin-top: 177px;
    display: flex;
  }

  /***** MAIN LEFT SECTION *****/

  .main-left-div{
    width: 550px;
  }

  .main-all-text-div{
    max-width: 410px;
  }

 .main-title-div{
   margin-bottom:40px;
 }

 .main-title-text{
   font-family: var(--LoraFont);
   font-weight: 500;
   text-transform: capitalize;
   font-size: 48px;
   line-height: 61px;
   color: #fff;
 }

 .main-text{
   font-family: var(--MontserratFont);
   font-size: 24px;
   line-height: 29px;
   margin-bottom: 46px;
 }

 .read-more-a{
  font-family: var(--MontserratFont);
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.read-more-text .material-icons{
  padding-left: 14px;
}
  /***** MAIN LEFT SECTION - ENDS *****/



  /***** MAIN RIGHT SECTION *****/

  .main-right-div{
    width: 737px;
    height: 555px;
    position: relative;
  }

  .main-img-div{
    width: 737px;
    height: 555px;
    position: absolute;
  }


  /***** USER REVIEW SECTION *****/

  .card{
    width: 410px;
    height: 189px;
    background-color: #181719;
    position: absolute;
    bottom: -94.5px;
    right: 32px;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .user-all-div{
    margin-bottom: 11px;
  }

  .user-profile-div{
    height: 72px;
    width: 382px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
  }

  .user-photo-border-div{
    width: 50px;
    height: 50px;
    margin-left: 17.5px;
    margin-right: 17.5px;
  }

  .user-photo{
    border-radius: 50%;
  }
  
  .user-name-text{
    font-family: var(--MontserratFont);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;
  }

  .user-job-text{
    font-family: var(--MontserratFont);
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #828282;
  }

  .comment-div{
    width: 287px;
    margin-left: 26px;
  }

  .comment-text{
    font-family: var(--LoraFont);
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
  }
  /***** MAIN RIGHT SECTION - ENDS *****/


  .footer{
    margin-top: 239px;
    margin-bottom: 24px;
    text-align: center;
    font-family: var(--MontserratFont);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  .footer a{
    color: #a9a9a9;
  }

}

@media only screen and (max-width: 375px) {

  * {
      padding: 0;
      margin: 0;
  }
  
  body {
      background-color: #181719;

  }

  #container{
    max-width: 351px;
    margin: auto;
  }

  a, p  {
      text-decoration: none;
      color: #fff;
  }
  
  img {
      max-width: 100%;
  }


  /***** FLEX *****/

  .flex-header-m{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  
  /***** FLEX - ENDS *****/

  /********************! HEADER *********************/

  .header {
    margin-top: 20px;
    
  }

  .logo-div{
    border: 1px solid #fff;
    width: 103px;
    height: 31px;
    display: flex;
    justify-content: center ;
    align-items: center;
  }

  .logo-text{
    font-family: var(--CrimsonFont);
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;   
  }

  .menu-div {
    display: none;
  }

  .menu-icon-m {
    color: #fff;
    width: 28.5px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .menu-icon-m span {
    font-size: 28px;
  }
  /********************! HEADER - ENDS *********************/


  /********************! BODY *********************/

  #body {
    margin-top: 38px;
  }

  .main-title-text{
    font-family: var(--LoraFont);
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 25px;
  }

  .main-text-div{
    max-width: 300px;  
  }

  .main-text{
    font-family: var(--MontserratFont);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 25px;
  }

  .read-more-div{
    margin-bottom: 37px;
  }

  .read-more-a{
    font-family: var(--MontserratFont);
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  }

  .read-more-text{
    display: flex;
    align-items: center;
  }

  .read-more-text .material-icons{
    padding-left: 15px;
  }


  .main-right-div{
    position: relative;
  }



/***** USER REVIEW SECTION *****/

.card{
  width: 300px;
  height: 138px;
  background-color: #181719;
  position: absolute;
  bottom: -94.5px;
  right: 32px;
  z-index: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user-all-div{
  margin-bottom: 8px;
}

.user-profile-div{
  height: 52.68px;
  width: 279.5px;
  margin: auto;
  margin-top: 7.32px;
  display: flex;
  align-items: center;
}

.user-photo-border-div{
  width: 36.6px;
  height: 36.6px;
  margin-left: 12.44px;
  margin-right: 12.44px;
}

.user-photo{
  border-radius: 50%;
}

.user-name-text{
  font-family: var(--MontserratFont);
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 5.85px;
}

.user-job-text{
  font-family: var(--MontserratFont);
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #828282;
}

.comment-div{
  width: 210px;
  margin-left: 19px;
}

.comment-text{
  font-family: var(--LoraFont);
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

  /***** MAIN RIGHT SECTION - ENDS *****/


  .footer{
    margin-top: 147.68px;
    margin-bottom: 24px;
    text-align: center;
    font-family: var(--MontserratFont);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  .footer a{
    color: #a9a9a9;
  }

  /* #container{
    display: none;
  } */




}